@import '~bootstrap/scss/bootstrap';

$alt-color: $black;
$alt-background: #bb5050;
$body-bg-color: #d0d8e0;
$font-color: $light;

body {
  background-color: $body-bg-color;
}

p {
  margin: 3px;
  padding: 3px auto;
}

.phase2 {
  display: none;
}

.stats {
  border: 0;
  display: none;
  height: auto;
  padding: 0;
}

.phase3 {
  display: none;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.win-line {
  background: $alt-background;
  color: $alt-color;
}

.sign-out {
  margin-top: 40px;
}
